:root {
  --clr-background: hsl(0deg, 0%, 5%);
  --clr-text: hsl(0deg, 0%, 95%);
  --clr-primary: hsl(0deg, 0%, 10%);
  --clr-secondary: hsl(0deg, 0%, 25%);
  --clr-accent: hsl(0deg, 0%, 50%);
}

html {
  font-family: "Space Grotesk", serif;
}

body {
  display: grid;
  grid-template-columns: [full-start] minmax(var(--xs, 5px), 1fr) [content-start] minmax(85dvw, 1fr) [content-end] minmax(var(--xs, 5px), 1fr) [full-end];
  grid-template-rows: max-content minmax(0, 1fr) max-content;
  height: 100dvh;
  overflow: clip;
  width: 100dvw;
}

#appbar {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px hsl(from var(--clr-background) h s calc(l + 5));
  grid-column: full;
  place-items: center;

  & > figure {
    margin-block: var(--nm, 20px) var(--md, 15px);
  }

  & > x-flex {
    width: 100%;

    & > button {
      --background: var(--clr-background);

      flex-grow: 1;
      border-radius: 0;
      place-content: center;

      &:is(.currentView) {
        border-bottom: solid 2px var(--clr-text);
      }
    }
  }
}

#views {
  display: grid;
  grid-column: full;
  grid-auto-rows: max-content;
  grid-template-columns: subgrid;
  overflow: auto;

  :where(article) {
    border-bottom: solid 1px hsl(from var(--clr-background) h s calc(l + 5));
    display: flex;
    gap: var(--md, 15px);
    grid-column: content;
    padding-block: var(--xl, 30px);

    aside {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      gap: var(--md, 15px);
      padding-top: var(--sm, 10px);

      hr {
        flex: 1 1 100%;
        margin-inline: auto;
      }

      x-dropdown {
        --background: var(--clr-background);

        button {
          border-radius: 0;
        }
      }
    }

    & > x-flex {
      padding-block: var(--sm, 10px);
    }
  }
}

#bottombar {
  border-top: solid 1px hsl(from var(--clr-background) h s calc(l + 5));
  gap: var(--nm, 20px);
  grid-column: full;
  overflow: clip;
  padding: var(--nm, 20px);
  place-content: center;
  place-items: center;

  :where(.icon) {
    --size: var(--lg, 25px);
  }
}