:root {
  --clr-background: hsl(0deg, 0%, 5%);
  --clr-text: hsl(0deg, 0%, 95%);
  --clr-primary: hsl(0deg, 0%, 10%);
  --clr-secondary: hsl(0deg, 0%, 25%);
  --clr-accent: hsl(0deg, 0%, 50%);
}

*::-webkit-scrollbar {
  display: none;
  width: 0;
}

html {
  font-family: "Space Grotesk", serif;
}

body {
  display: grid;
  grid-template-columns: [full-start] minmax(1rem, 1fr) [content-start] minmax(85dvw, 1fr) [content-end] minmax(1rem, 1fr) [full-end];
  grid-template-rows: max-content minmax(0, 1fr) max-content;
  height: 100dvh;
}

#appbar {
  display: flex;
  flex-direction: column;
  background-color: hsla(from var(--clr-background) h s l / 50%);
  backdrop-filter: blur(var(--xs, 5px));
  border-bottom: solid 1px hsl(from var(--clr-background) h s calc(l + 5));
  grid-column: full;
  place-items: center;
  z-index: 2;

  & > figure {
    margin-block: var(--nm, 20px) var(--md, 15px);
  }

  & > x-flex {
    width: 100%;

    & > button {
      --background: var(--clr-background);

      flex-grow: 1;
      border-radius: 0;
      place-content: center;

      &:is(.currentView) {
        border-bottom: solid 2px var(--clr-text);
      }
    }
  }
}

#views {
  display: grid;
  grid-column: full;
  grid-auto-rows: max-content;
  grid-template-columns: subgrid;
  overflow: auto;
  z-index: 1;

  :where(article) {
    border-bottom: solid 1px hsl(from var(--clr-background) h s calc(l + 5));
    display: flex;
    gap: var(--md, 15px);
    grid-column: content;
    padding-block: var(--xl, 30px);

    aside {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      gap: var(--md, 15px);
      padding-top: var(--sm, 10px);

      hr {
        flex: 1 1 100%;
        margin-inline: auto;
      }

      x-dropdown {
        --background: var(--clr-background);

        button {
          border-radius: 0;
        }
      }
    }

    & > x-flex {
      padding-block: var(--sm, 10px);
    }
  }
}

#bottombar {
  background-color: hsla(0, 0, 0, 0.75%);
  backdrop-filter: blur(var(--xl));
  border-top: solid 1px hsl(from var(--clr-background) h s calc(l + 5));
  bottom: 0;
  gap: var(--xl, 30px);
  grid-column: full;
  padding: var(--nm, 20px) var(--xl, 30px);
  place-content: center;
  z-index: 2;

  :where(.icon) {
    --size: var(--xl, 30px);
  }
}

#cursor {
  aspect-ratio: 1/1;
  backdrop-filter: blur(var(--xl));
  background-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 50%;
  mix-blend-mode: difference;
  outline: solid 1px var(--clr-content);
  outline-offset: 1px;
  pointer-events: none;
  position: fixed;
  transition-property: background, box-shadow, translate;
  transition-duration: var(--animDuration);
  transition-timing-function: var(--animTiming);
  user-select: none;
  width: var(--xl);
  z-index: 10000000000;
}