:root {
  --clr-text: light-dark(#0d0d0d, #f2f2f2);
  --clr-background: light-dark(#f2f2f2, #0d0d0d);
}

html {
  font-family: "Space Grotesk", serif;
}

body {
  height: 100dvh;
  overflow: clip;
}

#app {
  grid-column: expand;
  grid-template-rows: max-content minmax(0, 1fr) max-content;
}

#app__topbar {
  border-bottom: solid 2px hsl(from var(--clr-background) h s calc(l + var(--ratio-texts)));
  grid-column: expand;
  place-content: center;
  place-items: center;

  & > figure {
    margin-block: var(--nm, 20px) var(--md, 15px);
  }

  & > x-flex {
    width: 100%;

    & > button {
      --background: var(--clr-background);

      flex-grow: 1;
      border-radius: 0;
      place-content: center;

      &:is(.currentView) {
        border-bottom: solid 2px var(--clr-text);
      }
    }
  }
}

#app__content {
  display: grid;
  grid-auto-rows: max-content;
  grid-column: expand;
  grid-template-columns: subgrid;
  overflow: auto;

  & > * {
    grid-column: inner;
  }


  & > :where(article) {
    border-bottom: solid 1px hsl(from var(--clr-background) h s calc(l + 5));
    display: flex;
    gap: var(--md, 15px);
    padding-block: var(--xl, 30px);

    aside {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      gap: var(--md, 15px);
      padding-top: var(--sm, 10px);

      hr {
        flex: 1 1 100%;
        margin-inline: auto;
      }
    }

    & > x-flex {
      padding-block: var(--sm, 10px);
    }
  }
}

#bottombar {
  border-top: solid 1px hsl(from var(--clr-background) h s calc(l + 5));
  gap: var(--nm, 20px);
  grid-column: expand;
  overflow: clip;
  padding: var(--nm, 20px);
  place-content: center;
  place-items: center;

  :where(.icon) {
    --size: var(--lg, 25px);
  }
}



:where(x-dropdown) {
  &:not(:defined) {
    display: none;
    opacity: 0;
    visibility: 0;
  }

  &::part(dropmenu) {
    padding: 0;
  }

  button {
    border-radius: 0;
  }
}